body {
    background-color: #f2f2f3;
}

.modal-dialog, .modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch ;
}


#Account, #SignOut, #ActivityButton, #ErrorButton, #SignInAndRegister{
    display: none;
    visibility: hidden;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}